<form action="/my-handling-form-page" method="post">

	Usuario: <input type="text" id="name" placeholder="usuari..."/>

	<br>

	Constrasenya: <input type="password" id="pass" placeholder/>

	<br>
	
	<input type="submit"/>

</form>