<form action="/" method="post">

	Usuario: <input type="text" name="nombre" placeholder="usuari..."/>

	<br>

	Constrasenya: <input type="password" name="pass" placeholder="password..."/>

	<br>

	<input type="submit" />

</form>
